# dependencies
node_modules/

# build output
dist/
dist-electron/
release/
*.db
*.db-shm
*.db-wal
drizzle/

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.vscode/
.idea/

# env
.env
.env.local
.vercel
.env*
